.basic-modal-content {display:none;}

.lead-enquiry-popup{
	height: 500px !important;
    width: 800px !important;
	top:5% !important;
	left:20% !important;
	margin:0 auto;
	max-height: 600;
}

/* Overlay */
#simplemodal-overlay {background-color:#000;}

/* Container */
#simplemodal-container {height:360px; width:600px; color:#333; background-color:#fff;z-index:9999999 !important;}
#simplemodal-container .simplemodal-data {}
#simplemodal-container code {background:#141414; border-left:3px solid #65B43D; color:#bbb; display:block; font-size:12px; margin-bottom:12px; padding:4px 6px 6px;}
#simplemodal-container a.modalCloseImg { background: url(../images/x.png) no-repeat;width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-16px; cursor:pointer;}
#simplemodal-container h3 {color:#84b8d9;}
#simplemodal-overlay{z-index:9999999 !important;}
.save-button-small
{
    font-size: 10px;
    border: 1px solid #fff;
}
.save-button-small:hover
{
    background: #fff;
    color: #e74b48;
    text-decoration: none;
}